.App {
  text-align: center;
  padding: 20px;
}

/* Card styling for PackageList component */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.package-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px; /* Set a fixed width for the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #fff;
}

.package-card:hover {
  transform: scale(1.02);
}

.package-card h2 {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}

.package-card-desc {
  margin: 4px 0;
  font-style: italic;
  color: #555;
}

.package-card p {
  margin: 4px 0;
  font-size: 0.9em;
}

/* Filter styling for Filter component */

.filter-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-inline: 20px;
  margin-block: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Sort styling for Sort component  */

.sort-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-container label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.sort-container select:focus {
  border-color: #007bff;
}

/* Button styling for Packages component */

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: grey; /* Blue background */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* Text styling for data source indication */

.data-source-text {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  color: #333;
}

@media (max-width: 768px) {
  .package-card {
    width: 100%; /* Full width on smaller screens */
  }

  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  input {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .search-input {
    max-width: 90%; /* Allow full width on smaller screens */
    margin-inline: 10px;
    margin-bottom: 10px;
  }
}
