.App {
  text-align: center;
  padding-bottom: 2rem; /* Space at the bottom */
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1rem;
}

/* Styles for property cards */
.property-card {
  margin-inline: 2vh; /* Center horizontally */
  background-color: white; /* Card background color */
  border: 1px solid #d1d5db; /* Gray border */
  border-radius: 0.375rem; /* Rounded corners */
  padding: 1.5rem; /* Padding around the card content */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow */
  transition: transform 0.2s; /* Smooth scaling on hover */
}

/* Card hover effect */
.property-card:hover {
  transform: scale(1.02); /* Slight scaling on hover */
}

/* Grid layout for property cards */
.property-grid {
  display: grid;
  grid-template-columns: 1fr; /* 1 column on small screens */
  row-gap: 4vh; /* Space between cards */
  column-gap: 0; /* Space between cards */
}

/* Styles for PropertySort card */
.sort-card {
  display: grid;
  justify-content: center; /* Center horizontally */
  justify-self: center; /* Center itself */
  width: max-content; /* Full width */
  border: 1px solid #f1f5fb; /* Gray border */
  border-radius: 0.375rem; /* Rounded corners */
  padding-bottom: 0.8rem; /* Padding around the card content */
  padding-inline: 0.8rem; /* Padding around the card content */
  margin-bottom: 1rem; /* Spacing below the card */
}

/* Grid layout for sort options */
.sort-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1rem; /* Space between items */
}

.sort-title {
  font-weight: bold; /* Bold title */
  margin-bottom: 0.5rem; /* Spacing below the title */
}

/* Styles for PropertySearch card */

.search-bar {
  margin-block: 1rem; /* Spacing above and below */
  width: 90%; /* Full width on small screens */
  padding: 1rem; /* Padding */
  border: 1px solid #d1d5db; /* Gray border */
  border-radius: 0.375rem; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Shadow */
  outline: none; /* Remove outline */
  transition: border-color 0.2s, box-shadow 0.2s; /* Smooth transition for focus */
}

/* Medium screens and up */
@media (min-width: 768px) {
  .search-bar {
    width: 66.67%; /* 2/3 width on medium screens */
  }
  .property-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    text-align: left;
  }
}

/* Large screens and up */
@media (min-width: 1024px) {
  .search-bar {
    width: 50%; /* 1/2 width on large screens */
  }
  .sort-options {
    grid-template-columns: 1fr 1fr; /* 1 column on large screens */
  }
  .property-grid {
    grid-template-columns: repeat(4, 1fr); /* 3 columns on large screens */
    text-align: left;
  }
}

.search-bar:focus {
  border-color: #3b82f6; /* Blue border on focus */
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5); /* Blue shadow on focus */
}
